
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-deck">
    <div class="card text-white bg-olive mb-4 " style="max-width:20rem";">
        <div class="card-header">İSTATİSTİK 1</div>
        <div class="card-body">
            <h5 class="card-title">Toplam Kategori Sayısı</h5>
            <br />
            <h5 class="card-text">@ViewBag.categoryCount</h5>
        </div>
    </div>
</div>
<div class="card text-white bg-cyan mb-4 " style="max-width: 20rem; ">
    <div class="card-header">İSTATİSTİK 2</div>
    <div class="card-body">
        <h5 class="card-title">"Yazılım" kategorisi başlık sayısı</h5>
        <br />
        <h5 class="card-text">@ViewBag.HeadingCount</h5>
    </div>
</div>
<div class="card text-white bg-gradient-orange mb-4 " style="max-width: 20rem; ">
    <div class="card-header">İSTATİSTİK 3</div>
    <div class="card-body">
        <h5 class="card-title">Adında "a" geçen yazar sayısı</h5>
        <br />
        <h5 class="card-text">@ViewBag.WriterCount</h5>
    </div>
</div>
<div class="card text-white bg-gradient-gray mb-4 " style="max-width: 20rem; ">
    <div class="card-header">İSTATİSTİK 4</div>
    <div class="card-body">
        <h5 class="card-title">En fazla başlığa sahip kategori adı</h5>
        <br />
        <h5 class="card-text"> @ViewBag.EnFazlaBaşlikSayisi</h5>
    </div>
</div>
<div class="card text-white bg-fuchsia " style="max-width: 20rem; ">
    <div class="card-header">İSTATİSTİK 5</div>
    <div class="card-body">
        <h5 class="card-title">T-F farkı</h5>
        <br />
        <h5 class="card-text">@ViewBag.tffarki</h5>
    </div>
</div>

